data/books/*
data/epub/*
data/books*
data/quotes.sqlite
images/*
NLP\ notes.ipynb
.ipynb_checkpoints
.DS_Store
__pycache__/*
*.pt
OEBPS/*
META-INF/*
metadata/*
quotes/*
Logs/*
*.pkl
sample.json
test*.py
*.ipynb
dataframes/*
wandb/*
test-squad-trained/*